<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('hello2') }}">Start</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('funkcjesieciowe') }}">Funkcje sieciowe</a>
                    </li>
                    <li>
                         <a href="{{ url_for('pomoc') }}">Pomoc</a>
                    </li>
                    <li>
                         <a href="{{ url_for('omnie') }}">O mnie</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Pomoc</h1>
				<h2>Aktywacja srodowiska wirtualnego</h2>
				<ol>
					<li>Uruchamiam konsole cmd</li>
					<li>Przchodze do folderu Scripts za pomoca komendy cd</li>
					<li>Uruchamiam activate.bat</li>
					<li> Wracam komenda cd..</li>
				</ol>
				
				<h3>Komendy do pracy z git'em</h3>
				<table>
				<tr>
				<th> Komenda</th> <th>Dzialanie</th></tr>
				<tr><td>git commit -m "komentarz"</td><td>Wyslanie plikow do repo z kontrola wersji </td></tr>
				<tr><td>git log</td><td>Historia commitow </td></tr>
				<tr><td>git add.</td><td>Dodanie wszystkich plikow do repozytorium</td></tr>
				<tr><td>git push heroku master</td><td>Wyslanie commitow</td></tr>
				<tr><td>git status</td><td>Sprawdza czy jakies pliki zostaly dodane do repozytorium</td></tr>
				</table>
                
                
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
